@page
@model LEGOINNOVATIVE.Pages.Orders.OrderDetailsModel
@{
}


<body class="orderRequestBody">
    <div class="arrowDiv">
        <a asp-page="/Sites/CustomerProfile" class="arrowButtonBack">&#60;</a>
    </div>
    <div>
        <h1 class="orderRequestHeader">#@Model.Id. @Model.Title</h1>
    </div>
    <div class="displayFlex">
        <div class="orderRequestInfoDiv">
            <p class="orderRequestP">Description</p>
            <p class="orderRequestInfoContainer">@Model.Description</p>
        </div>
        <div id="marginDivId" class="orderRequestProfileInfoDiv">
            <p class="orderRequestP">Info</p>
            <ul class="orderRequestProfileInfoList">
                <li>Name: @Model.Name </li>
                <li>Email: @Model.Email</li>
                <li>Phone: @Model.Phone</li>
                <li>Plan: @Model.PlanType</li>
                <li>Bricks: Max @Model.Bricks</li>
                <li>Accepted: @Model.Accepted</li>
            </ul>
        </div>
    </div>
</body>